:root {
  --color-200: hsl(246, 8%, 80%);
  --color-500: hsl(246, 8%, 50%);
  --color-700: hsl(246, 8%, 20%);
  --acent-color-200: hsl(345, 54%, 80%);
  --acent-color-500: hsl(345, 54%, 50%);
  --acent-color-700: hsl(345, 54%, 30%);
  --Complement-acent-color-200: hsl(142, 22%, 80%);
  --Complement-acent-color-500: hsl(142, 22%, 50%);
  --Complement-acent-color-700: hsl(142, 22%, 30%);
  --p-05: 0.5rem;
}

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: var(--color-200);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  font-size: 46px;
  font-weight: 700;
  color: var(--color-700);
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-700);
  padding: 0 1rem;
}
p {
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 24px;
  color: var(--color-500);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--color-700);
  color: var(--color-200);
}

nav a {
  text-decoration: none;
  color: var(--color-200);
  transition: all 300ms ease;
}
nav a:hover {
  text-decoration: underline;
  color: var(--Complement-acent-color-200);
}

.logo {
  font-size: 38px;
  flex: 1;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: space-evenly;
}
li {
  min-width: fit-content;
}

.buscador {
  min-width: fit-content;
  align-items: center;
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
}
.buscador * {
  background-color: #fff;
}

.search {
  font-size: 16px;
  font-weight: 400;
  color: var(#fff);
}
.search:focus,
.search:active {
  border: none;
  outline: none;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem;
  width: 99vw;
  min-height: 85vh;
  justify-content: space-between;
}

.card {
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--color-700);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
  background-color: #fff;
}
.card:hover {
  box-shadow: 0px 9px 77px -32px var(--color-500);
  transform: scale(1.01);
}

.card-top {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.card-description {
  padding: 1rem;
  color: var(--color-500);
}

.min-img-card > img {
  width: 100%;
  object-fit: cover;
}

.card-footer {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: var(--p-05);
  color: var(--color-200);
  background-color: var(--color-700);
}

footer {
  display: grid;
  width: 100%;
  height: 80px;
  background-color: var(--color-700);
  color: var(--color-200);
  align-items: center;
  justify-items: center;
}

.container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.container > form {
  display: flex;
  flex-direction: column;
}

.create-post {
  background-color: var(--color-200);
  margin: 1rem 0;
  padding: var(--p-05);
  gap: 1rem;
  border-radius: 1rem;
  width: 80%;
}

.create-post input,
.create-post textarea {
  border: 1px solid var(--acent-color-700);
  border-radius: 6px;
  padding: var(--p-05);
  color: var(--color-700);
  font-weight: 700;
}

.create-post div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--p-05);
}
.create-post button {
  background-color: var(--Complement-acent-color-500);
}
.btn-green {
  background-color: var(--Complement-acent-color-200);
  transition: all 300ms ease;
}

.btn-green:hover {
  background-color: var(--Complement-acent-color-500);
}
article {
  width: 80vw;
}

.post {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
}

blockquote {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}

blockquote img {
  object-fit: cover;
  height: auto;
  width: 50%;
}

.hero_img_url > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.data {
  margin: 0rem 0 2rem 0;
  font-size: 1rem;
  color: var(--acent-color-200);
}
span {
  width: 30ch;
  font-size: 1.5rem;
  color: var(--Complement-acent-color-500);
}

@media (max-width: 532px) {
  nav{
    display: flex;
    flex-direction: column;
  }
  blockquote {
    display: flex;
    flex-direction: column;
  }
  blockquote img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
  span {
    width: 100%;
    font-size: 1.5rem;
    color: var(--Complement-acent-color-500);
  }
  article {
    width: 100%;
    padding: 1em;
  }
  .card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 1rem;
    width: 100%;
    padding: 1em;
    align-content: center;
  }
  
  /* … */
}