<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoderBlog</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <div class="logo"><a href="{% url 'inicio' %}">CoderBlog</a></div>
      <div class="menu">
        <ul>
          <li><a href="{% url 'inicio' %}">inicio</a></li>
          <li><a href="{% url 'crear_post' %}">Crear entrada</a></li>
        </ul>
      </div>
      <div class="buscador">
        <form action="{% url 'post' %}" method="get">
          <input
            class="search"
            type="text"
            name="termino"
            required
            placeholder="Buscar por titulo"
          /><button type="submit">🔍</button>
        </form>
      </div>
    </nav>
    {% block main %} {% endblock %}
    <footer>footer</footer>
  </body>
</html>
