<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoderBlog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <div class="logo">CoderBlog</div>
      <div class="menu">
        <ul>
          <li>inicio</li>
          <li>Crear entrada</li>
        </ul>
      </div>
      <div class="buscador">
        <input class="search" type="text" /><button>🔍</button>
      </div>
    </nav>
    {% block main %}
    {% endblock %}
    <footer>footer</footer>
  </body>
</html>
