{% extends "base.html" %} {% load static %} {% block main %}

<main class="container">
  <form method="post" class="create-post">
    {% csrf_token %}
    <div>
      <label for="title">Titulo:</label>
      <input type="text" name="title" required maxlength="200" />
    </div>
    <div>
      <label for="description">Descripcion:</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="6"
        maxlength="400"
        required
      ></textarea>
    </div>
    <div>
      <label for="author">Autor:</label>
      <input type="text" name="author" maxlength="40" required />
    </div>
    <div>
      <label for="min_img_url">URL Miniatura:</label>
      <input type="url" name="min_img_url" />
    </div>
    <div>
      <label for="post">Contenido del post:</label>
      <textarea
        name="post"
        id="post"
        cols="30"
        rows="10"
        maxlength="3000"
      ></textarea>
    </div>
    <div>
      <label for="hero_img_url">URL de la imagen principal:</label>
      <input type="url" name="hero_img_url" />
    </div>
    <div>
      <label for="quote">Cita dentro del post:</label>
      <textarea
        name="quote"
        id="quote"
        cols="30"
        rows="3"
        maxlength="200"
      ></textarea>
    </div>
    <div>
      <label for="acent_img_url">Imagen de refuerzo:</label>
      <input type="text" name="acent_img_url" />
    </div>
    <div>
      <input class="btn-green" type="submit" value="Enviar" />
    </div>
  </form>
</main>

{% endblock %}
