{% extends "base.html" %} {% load static %} {% block main %}

<main class="card-container">
  {% for card in cards %}
  {% for slug in data %}
  {% if slug.id == card.id %}
  <div class="card" data="{{slug.slug}}">
    <div class="card-top">
      {% if card.min_img_url %}
      <div class="min-img-card">
        <img src="{{card.min_img_url}}" alt="" />
      </div>
      {% endif %}
      <div class="card-body">
        <div class="card-title">
          <h2>{{card.title}}</h2>
        </div>
        <div class="card-description">{{card.description}}</div>
      </div>
    </div>
    <div class="card-footer">
      <div>Autor: {{card.author}}</div>
      <div>Creation date: {{card.entryDate}}</div>
    </div>
  </div>
  {% endif%}
  {% endfor %}
  {% endfor %}
</main>
<script src="{% static 'cards.js' %}"></script>

{% endblock %}
