{% extends "base.html" %} {% load static %} {% block main %} {% if error%} 
{{error }}
{% else %}
<main class="post">
  <article>
    {% if blog.hero_img_url %}
    <div class="hero_img_url">
      <img src="{{blog.hero_img_url}}" alt="{{summary.title}}" />
    </div>
    {% endif %}
    <h1>{{summary.title}}</h1>
    <div class="data">Autor: {{data.author}} - {{data.entryDate}}</div>
    <p>{{blog.post}}</p>
    <blockquote>
      {% if blog.acent_img_url %}
      <img src="{{blog.acent_img_url}}" alt="{{summary.title}}" />
      {% endif %} 
      <span>{{blog.quote}}</span>
    </blockquote>
  </article>
</main>
{% endif %}
{% endblock %}

<!-- 
        BlogSummary.objects.create(
            title=title,
            description=description,
            author=author,
            min_img_url=min_img_url,
        )
        Blog.objects.create(
            post=post,
            quote=quote,
            acent_img_url=acent_img_url,
            hero_img_url=hero_img_url
        )
        EntryBlogData.objects.create(author=author, slug=slug)


 -->
