{% extends "base.html" %} {% load static %} {% block main %} {% if error%} {{
error }} {% endif %}
<main class="post">
  <article>
    {% if blog.hero_img_url %}
    <img src="{{blog.hero_img_url}}" alt="{{summary.title}}" />
    {% endif %}
    <h1>{{summary.title}}</h1>
    <div class="data">{{data.author}} {{data.entryDate}}</div>
    <p>{{blog.post}}</p>
    <blockquote>
    {% if blog.acent_img_url %}
      <img src="{{blog.acent_img_url}}" alt="{{summary.title}}" />
    {% endif %}
      {{blog.quote}}
    </blockquote>
  </article>
</main>
{% endblock %}

<!-- 
        BlogSummary.objects.create(
            title=title,
            description=description,
            author=author,
            min_img_url=min_img_url,
        )
        Blog.objects.create(
            post=post,
            quote=quote,
            acent_img_url=acent_img_url,
            hero_img_url=hero_img_url
        )
        EntryBlogData.objects.create(author=author, slug=slug)


 -->
