{% extends "base.html" %} {% load static %} {% block main %} {% if error%}
{{error }} {% else %}
<main class="post">
  <article>
    {% if blog.hero_img_url %}
    <div class="hero_img_url">
      <img src="{{blog.hero_img_url}}" alt="{{summary.title}}" />
    </div>
    {% endif %}
    <h1>{{summary.title}}</h1>
    <div class="data">Autor: {{data.author}} - {{data.entryDate}}</div>
    <p>{{blog.post | linebreaksbr |safe}}</p>
    <blockquote>
      {% if blog.acent_img_url %}
      <img src="{{blog.acent_img_url}}" alt="{{summary.title}}" />
      {% endif %}
      <span>{{blog.quote}}</span>
    </blockquote>
  </article>
</main>
{% endif %} {% endblock %}
